// global.scss

.theme-dark {
  --ck-bg-color: #1e1e1e;
  --ck-text-color: #eaeaea;
  --ck-toolbar-bg: #2c2c2c;
}

.theme-light {
  --ck-bg-color: #ffffff;
  --ck-text-color: #000000;
  --ck-toolbar-bg: #f7f7f7;
}
